﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>

<head runat="server">
    <meta charset="utf-8" />
    <title>PW-Poll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="PW-Poll" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/logos/favicon.png">

    <!-- App css -->
    <link href="/assets/css/toast.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <%--<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />--%>
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/toastr.js"></script>
    <script src="/assets/js/toast.js"></script>
    <script src="/assets/js/sw-alert.js"></script>
    <style>
        .btnn{
            color:black !important;
        }
        .btnn:hover{
            color:black !important;
        }
        @media only screen and (max-width:991px) {
            #spCP{
                color:black !important;
            }
             #spList{
                color:black !important;
            }
             .user-name {display:block !important}
             .d-none{display:block !important}
             
        }
        @media only screen and (max-width:1200px) {
            .brand{
                 width: auto !IMPORTANT;
    padding: 0 5px;
             }
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body data-layout="horizontal" class="dark-topbar">
    <form id="form1" runat="server">
        <div>
            <!-- leftbar-tab-menu -->

            <!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="brand" style="">
                    <a href="/" class="logo">
                        <h4>PW-Poll</h4>
                    </a>
                </div>
                <!--end logo-->
                <!-- Navbar -->
                <nav class="navbar-custom">
                    <ul class="list-unstyled topbar-nav float-end mb-0">
                        <li class="dropdown hide-phone">
                            <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i class="ti ti-search"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-lg p-0">
                                <!-- Top Search Bar -->
                                <div class="app-search-topbar">
                                    <input type="search" name="search" class="from-control top-search mb-0" placeholder="Type text...">
                                    <button type="button"><i class="ti ti-search"></i></button>
                                </div>
                            </div>
                        </li>
                        <%if (HttpContext.Current.Session["AutoId"] != null)
                            {%>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle nav-user" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <img src="/assets/images/users/user-vector.png" alt="profile-user" class="rounded-circle me-0 me-md-2 thumb-sm" />
                                    <div class="user-name">
                                        <%-- <small class="d-none d-lg-block font-11">Admin</small>--%>
                                        <span class="d-none d-lg-block fw-semibold font-12">
                                            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
                                            <i class="mdi mdi-chevron-down"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <%-- <a class="dropdown-item" href="#"><i class="ti ti-user font-16 me-1 align-text-bottom"></i>Profile</a>
                                <a class="dropdown-item" href="#"><i class="ti ti-settings font-16 me-1 align-text-bottom"></i>Settings</a>
                                <div class="dropdown-divider mb-0"></div>--%>
                                <a class="dropdown-item" onclick="Logoutclick()" href="javascript:void(0)"><i class="ti ti-power font-16 me-1 align-text-bottom"></i>Logout</a>
                            </div>
                        </li>
                        <%}
                            else
                            { %>
                        <li class="nav-item" data-bs-toggle="modal" data-bs-target="#signinmodal">
                            <a class="nav-link" href="javascript:void(0)">
                                <span>Sign In</span>
                            </a>
                        </li>
                        <%} %>
                        <!--end topbar-profile-->
                        <li class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle nav-link" id="mobileToggle" onclick="toggleMenu()">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>
                        <!--end menu item-->
                    </ul>
                    <!--end topbar-nav-->

                    <div class="navbar-custom-menu">
                        <div id="navigation">
                            <!-- Navigation Menu-->
                            <ul class="navigation-menu">
                                <%--<li class="nav-item dropdown parent-menu-item">
                                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDashboards" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                        <span><i class="ti ti-smart-home menu-icon"></i>Dashboards</span>
                                    </a>
                                    <ul class="dropdown-menu animate slideIn" aria-labelledby="navbarDashboards">
                                        <li>
                                            <a class="dropdown-item sub-menu-item" href="demo-dark-topbar-horizontal.html">Analytics</a>
                                        </li>
                                        <!--end /li-->
                                        <li>
                                            <a class="dropdown-item" href="crypto-index.html">Crypto</a>
                                        </li>
                                        <!--end /li-->
                                        <li>
                                            <a class="dropdown-item" href="crm-index.html">CRM</a>
                                        </li>
                                        <!--end /li-->
                                        <li>
                                            <a class="dropdown-item" href="projects-index.html">Project</a>
                                        </li>
                                        <!--end /li-->
                                        <li>
                                            <a class="dropdown-item" href="ecommerce-index.html">Ecommerce</a>
                                        </li>
                                        <!--end /li-->
                                        <li>
                                            <a class="dropdown-item" href="helpdesk-index.html">Helpdesk</a>
                                        </li>
                                        <!--end /li-->
                                        <li>
                                            <a class="dropdown-item" href="hospital-index.html">Hospital</a>
                                        </li>
                                        <!--end /li-->
                                    </ul>
                                </li>
                                <!--end nav-item-->

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarApps" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span><i class="ti ti-apps menu-icon"></i>Apps</span>
                                    </a>
                                    <ul class="dropdown-menu animate slideIn" aria-labelledby="navbarApps">
                                        <li class="dropdown-submenu dropend">
                                            <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Analytics
                                            </a>
                                            <ul class="dropdown-menu animate slideIn">
                                                <li>
                                                    <a href="analytics-customers.html" class="dropdown-item ">Customers</a>
                                                </li>
                                                <li>
                                                    <a href="analytics-reports.html" class="dropdown-item ">Reports</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu dropend">
                                            <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Crypto
                                            </a>
                                            <ul class="dropdown-menu animate slideIn">
                                                <li>
                                                    <a class="dropdown-item" href="crypto-exchange.html">Exchange</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="crypto-wallet.html">Wallet</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="crypto-news.html">Crypto News</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="crypto-ico.html">ICO List</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="crypto-settings.html">Settings</a>
                                                </li>
                                                <!--end /li-->
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu dropend">
                                            <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">CRM
                                            </a>
                                            <ul class="dropdown-menu animate slideIn">
                                                <li>
                                                    <a class="dropdown-item" href="crm-contacts.html">Contacts</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="crm-opportunities.html">Opportunities</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="crm-leads.html">Leads</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="crm-customers.html">Customers</a>
                                                </li>
                                                <!--end /li-->
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu dropend">
                                            <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Projects
                                            </a>
                                            <ul class="dropdown-menu animate slideIn">
                                                <li>
                                                    <a class="dropdown-item" href="projects-clients.html">Clients</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="projects-team.html">Team</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="projects-project.html">Project</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="projects-task.html">Task</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="projects-kanban-board.html">Kanban Board</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="projects-chat.html">Chat</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="projects-users.html">Users</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="projects-create.html">Project Create</a>
                                                </li>
                                                <!--end /li-->
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu dropend">
                                            <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Ecommerce
                                            </a>
                                            <ul class="dropdown-menu animate slideIn">
                                                <li>
                                                    <a class="dropdown-item" href="ecommerce-products.html">Products</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="ecommerce-product-list.html">Product List</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="ecommerce-product-detail.html">Product Detail</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="ecommerce-cart.html">Cart</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="ecommerce-checkout.html">Checkout</a>
                                                </li>
                                                <!--end /li-->
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu dropend">
                                            <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Helpdesk
                                            </a>
                                            <ul class="dropdown-menu animate slideIn">
                                                <li>
                                                    <a class="dropdown-item" href="helpdesk-teckets.html">Tickets</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="helpdesk-reports.html">Reports</a>
                                                </li>
                                                <!--end /li-->
                                                <li>
                                                    <a class="dropdown-item" href="helpdesk-agents.html">Agents</a>
                                                </li>
                                                <!--end /li-->
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu dropend">
                                            <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#" id="hospital" aria-labelledby="navbarApps">Hospital
                                            </a>
                                            <ul class="dropdown-menu animate slideIn">
                                                <li class="dropdown-submenu dropend">
                                                    <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#" id="appointments" aria-labelledby="hospital">Appointments
                                                    </a>
                                                    <ul class="dropdown-menu animate slideIn">
                                                        <li>
                                                            <a class="dropdown-item" aria-labelledby="appointments" href="hospital-doctor-shedule.html">Dr. Shedule</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-all-appointments.html">All Appointments</a>
                                                        </li>
                                                        <!--end /li-->
                                                    </ul>
                                                </li>
                                                <!--end /li-->
                                                <li class="dropdown-submenu dropend">
                                                    <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Doctors
                                                    </a>
                                                    <ul class="dropdown-menu animate slideIn">
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-all-doctors.html">All Doctors</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-add-doctor.html">Add Doctor</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-doctor-edit.html">Doctor Edit</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-doctor-profile.html">Doctor Profile</a>
                                                        </li>
                                                        <!--end /li-->
                                                    </ul>
                                                </li>
                                                <!--end /li-->
                                                <li class="dropdown-submenu dropend">
                                                    <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Patients
                                                    </a>
                                                    <ul class="dropdown-menu animate slideIn">
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-all-patients.html">All Patients</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-add-patient.html">Add Patient</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-patient-edit.html">Patient Edit</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-patient-profile.html">Patient Profile</a>
                                                        </li>
                                                        <!--end /li-->
                                                    </ul>
                                                </li>
                                                <!--end /li-->
                                                <li class="dropdown-submenu dropend">
                                                    <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Patients
                                                    </a>
                                                    <ul class="dropdown-menu animate slideIn">
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-all-patients.html">All Patients</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-add-patient.html">Add Patient</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-patient-edit.html">Patient Edit</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-patient-profile.html">Patient Profile</a>
                                                        </li>
                                                        <!--end /li-->
                                                    </ul>
                                                </li>
                                                <!--end /li-->
                                                <li class="dropdown-submenu dropend">
                                                    <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Payments
                                                    </a>
                                                    <ul class="dropdown-menu animate slideIn">
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-all-payments.html">All Payments</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-payment-invoice.html">Payment Invoice</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-cashless-payments.html">Cashless Payments</a>
                                                        </li>
                                                        <!--end /li-->
                                                    </ul>
                                                </li>
                                                <!--end /li-->
                                                <li class="dropdown-submenu dropend">
                                                    <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Staff
                                                    </a>
                                                    <ul class="dropdown-menu animate slideIn">
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-all-staff.html">All Staff</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-add-member.html">Add Member</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-edit-member.html">Edit Member</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-member-profile.html">Member Profile</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-salary.html">Staff Salary</a>
                                                        </li>
                                                        <!--end /li-->
                                                    </ul>
                                                </li>
                                                <!--end /li-->
                                                <li class="dropdown-submenu dropend">
                                                    <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">General
                                                    </a>
                                                    <ul class="dropdown-menu animate slideIn">
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-all-rooms.html">Room Allotments</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-expenses.html">Expenses Report</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-departments.html">Departments</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-insurance-company.html">Insurance Co.</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-events.html">Events</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-leaves.html">Leaves</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-holidays.html">Holidays</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-attendance.html">Attendance</a>
                                                        </li>
                                                        <!--end /li-->
                                                        <li>
                                                            <a class="dropdown-item" href="hospital-chat.html">Chat</a>
                                                        </li>
                                                        <!--end /li-->
                                                    </ul>
                                                </li>
                                                <!--end /li-->
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu dropend">
                                            <a class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" href="#">Emails
                                            </a>
                                            <ul class="dropdown-menu animate slideIn">
                                                <li>
                                                    <a href="apps-email-inbox.html" class="dropdown-item">Inbox</a>
                                                </li>
                                                <li>
                                                    <a href="apps-email-read.html" class="dropdown-item">Read Email</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="apps-chat.html" class="dropdown-item">Chat
                                            </a>
                                        </li>
                                        <li>
                                            <a href="apps-contact-list.html" class="dropdown-item">Contact List
                                            </a>
                                        </li>
                                        <li>
                                            <a href="apps-calendar.html" class="dropdown-item">Calendar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="apps-invoice.html" class="dropdown-item">Invoice
                                            </a>
                                        </li>
                                    </ul>
                                    <!--end submenu-->
                                </li>
                                <!--end nav-item-->--%>

                                <li class="nav-item" data-bs-toggle="modal" data-bs-target="#CreatePoll">
                                    <a class="nav-link" onclick="show1()" href="javascript:void(0)">
                                        <span id="spCP"><i class="ti ti-smart-home menu-icon"></i>Create Poll</span>
                                    </a>
                                </li>
                                <%if (HttpContext.Current.Session["AutoId"] != null)
                                    {%>
                                <li class="nav-item">
                                    <a class="nav-link" href="PollList.aspx">
                                        <span id="spList">Poll List</span>
                                    </a>
                                </li>
                                <%} %>
                            </ul>
                            <!-- End navigation menu -->
                        </div>
                        <!-- end navigation -->
                    </div>
                    <!-- Navbar -->
                </nav>
                <!-- end navbar-->
            </div>
            <!-- Top Bar End -->

            <div class="page-wrapper">
                <!-- Page Content-->
                <div class="page-content-tab">
                    <div class="container-fluid" style="margin-top: 1.5px;">

                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>

                    </div>
                    <!-- container -->
                </div>
                <!-- end page content -->
            </div>

            <!--Start Footer-->
            <!-- Footer Start -->
            <footer class="footer text-center text-sm-start" style="background-color: #0a4275;">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>
                PW-Poll <span class="text-muted d-none d-sm-inline-block float-end" style="color: #fff !important;">Powered by <a href="https://priorware.com/" target="_blank" style="color: #fff;">Priorware Solutions LLC</a> </span>
            </footer>
            <!-- end Footer -->
            <!--end footer-->


            <!-- Starts Modals -->

            <div class="modal fade" id="CreatePoll" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="CreatePollCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title m-0" id="CreatePollCenterTitl">Create Poll</h6>
                            <%--<h6 class="modal-title m-0" style="display:none;" id="UpdatePollCenterTitle"></h6>--%>
                            <button type="button" class="btn-close btnn" onclick="close1()" data-bs-dismiss="modal" aria-label="Close">X</button>
                        </div>
                        <!--end modal-header-->
                        <div class="modal-body">
                            <%if (HttpContext.Current.Session["AutoId"] == null)
                                {%>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label labal">Enter Name <span style="color: red;">*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control req" type="text" placeholder="Enter Name " id="UserName">
                                </div>
                                <div class="col-sm-1 or_class">
                                    <span>OR</span>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" onclick="signinmodalfun()" class="btn btn-primary">Sign In</button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label labal">Enter Email <span style="color: red;">*</span></label>
                                <div class="col-sm-10 pr-49">
                                    <input class="form-control req" type="text" placeholder="Enter Email " id="UserEmail">
                                </div>
                            </div>
                            <script>
                                var session = 'no';
                            </script>
                            <%}
                                else
                                {%>
                            <script>
                                var session = 'yes';
                            </script>
                            <%} %>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label labal">Enter Question <span style="color: red;">*</span></label>
                                <div class="col-sm-10 pr-49">
                                    <textarea class="form-control req" rows="4" cols="10" style="resize: vertical" type="text" placeholder="Enter Question " id="UserQust"></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10 pr-49" style="display: none;" id="showans">
                                </div>
                                <div class="col-sm-10 pr-49" style="display: none;" id="AnswerType">
                                    <div class="input-group mb-2">
                                        <div class="input-group-text change_cls bgcolor" onclick="RemoveTextBox(this)">
                                            <i class="fa fa-minus" style="font-size: 19px; color: #fff;"></i>
                                        </div>
                                        <input type="text" class="form-control req getName" value="YES" style="text-transform: uppercase;" placeholder="ADD OPTION ">
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-text change_cls bgcolor" onclick="RemoveTextBox(this)">
                                            <i class="fa fa-minus" style="font-size: 19px; color: #fff;"></i>
                                        </div>
                                        <input type="text" class="form-control req getName" value="NO" style="text-transform: uppercase;" placeholder="ADD OPTION ">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10 pr-49">
                                    <div class="input-group mb-2">
                                        <div class="clickPlusdiv"></div>
                                        <input type="text" class="form-control" style="text-transform: uppercase" id="GetAnsType" placeholder="ADD OPTION">
                                        <div class="input-group-text change_cls" style="display:none;" id="clcgenbox" onclick="GenerateTextBox()">
                                            <i class="fa fa-plus" style="font-size: 19px"></i>
                                        </div>
                                        <div class="input-group-text change_cls" id="clcupdbox" onclick="GenerateUpdTextBox()">
                                            <i class="fa fa-plus" style="font-size: 19px"></i>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-5 check_btn">
                                    <ul>
                                        <li class="mb-1">
                                            <label class="radio" for="r1">
                                                <input type="checkbox" checked id="r1">
                                                <span>Display Results to Everyone?</span>
                                            </label>
                                        </li>
                                        <li class="mb-1">
                                            <label class="radio" for="r2">
                                                <input type="checkbox" value="allowGuests" id="r2">
                                                <span>Allow Adults + Kids selection?</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-5 check_btn pr-49">
                                    <ul>
                                        <li class="mb-1">
                                            <label class="radio" for="r3">
                                                <input type="checkbox" checked value="AllowComments" id="r3">
                                                <span>Allow Comments?</span>
                                            </label>
                                        </li>
                                        <li class="mb-1">
                                            <label class="radio" for="r4">
                                                <input type="checkbox" value="allowMultiSelection" id="r4">
                                                <span>Allow Multi Selection?</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end modal-body-->
                        <div class="modal-footer">
                            <%--<button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>--%>
                            <button type="button" onclick="CreatePolls()" id="savebtn" class="btn btn-success btn-sm">Create</button>
                            <button type="button" onclick="updatePolls()" id="updatebtn" style="display:none;" class="btn btn-primary btn-sm">Update</button>
                        </div>
                        <!--end modal-footer-->
                    </div>
                    <!--end modal-content-->
                </div>
                <!--end modal-dialog-->
            </div>

            <div class="modal fade" id="signinmodal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="signinmodalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title m-0" id="signinmodalCenterTitle">Sign In</h6>
                            <button type="button" class="btn-close btnn" data-bs-dismiss="modal" aria-label="Close">X</button>
                        </div>
                        <!--end modal-header-->
                        <div class="modal-body">
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label labal">Enter Email <span style="color: red;">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control req" type="text" placeholder="Enter Email " id="UserEmailId">
                                </div>
                            </div>
                            <div class="row mb-3" id="divPsw">
                                <label class="col-sm-3 col-form-label labal">Enter Password <span style="color: red;">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control req" type="password" placeholder="Enter Password " id="UserPass">
                                </div>
                            </div>
                              <p id="divForgotPassMessage" style="display:none;text-align: right;font-size: 14px;color: red;">
                                  Note : Password will be sent on your Email Id.
                              </p>

                        </div>
                        <!--end modal-body-->
                        <div class="modal-footer">
                            <div class="row w-100">
                                <div class="col-md-12">
                                     <button type="button" style="float:left" id="btnForPassword" onclick="forgotPassword()" class="btn btn-info btn-sm">Forgot Password</button>
                               
                                    <button type="button" style="float:right;margin-right:5px" id="btnClose" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
                                    <button type="button" style="float:right;margin-right:5px" id="btnLogin" onclick="Login()" class="btn btn-success btn-sm">Submit</button>
                                    <button type="button" style="float:right;display:none;margin-right:5px" id="btnSubmitEmail" onclick="SendConfirmEmail()" class="btn btn-success btn-sm">Submit</button>
                                </div>
                            </div>
                        </div>
                        <!--end modal-footer-->
                    </div>
                    <!--end modal-content-->
                </div>
                <!--end modal-dialog-->
            </div>


            <!-- Ends Modals -->


            <!-- Javascript  -->
            <%-- <script src="assets/plugins/apexcharts/apexcharts.min.js"></script>
              <script src="assets/pages/analytics-index.init.js"></script>--%>
            <!-- App js -->
            <script src="/assets/js/app.js"></script>
            <script type="text/javascript">
                window._mfq = window._mfq || [];
                (function () {
                    var mf = document.createElement("script");
                    mf.type = "text/javascript"; mf.defer = true;
                    mf.src = "//cdn.mouseflow.com/projects/4f746513-07d6-44bd-bbeb-f8b73d8672e4.js";
                    document.getElementsByTagName("head")[0].appendChild(mf);
                })();
            </script>
        </div>
    </form>
</body>
</html>
