﻿.logo h4 {
    color: #fff;
    padding-top: 9px;
}

body[data-layout=horizontal] {
    display: inherit;
    width: 100%;
}
[data-layout=horizontal] .topbar {
     border-bottom: 0px !important; 
}
.or_class {
    padding-top: 8px;
    text-align: center;
}

.pr-49 {
    padding-right: 49px;
}

.border-warning {
    border: 1px solid red;
}

.error_outer {
    position: absolute;
    top: -43px;
    left: 0;
    display: none;
}

.error_div {
    border: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 5.5px 10px;
    background: firebrick;
    width: max-content;
    border-radius: 3px;
}

.tri {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 14px solid firebrick;
    margin-left: 12px;
}

.check_btn ul {
    list-style: none;
    padding: 0;
}

    .check_btn ul li label {
        display: flex;
        padding: 7px 3px;
        border-radius: 3px;
    }

        .check_btn ul li label:hover {
            background: #f1f5fa;
        }

        .check_btn ul li label span {
            padding-left: 8px;
            font-family: Helvetica;
            font: 14px/18px 'Helvetica', Arial, sans-serif;
            color: #5d5d5d;
        }

        .check_btn ul li label input[type="checkbox"] {
            margin-top: 3px;
        }

.change_cls {
    padding: 0 .7rem;
    cursor: pointer;
}

div.modal-header {
    background: linear-gradient(-197deg, #1818aa, #5ae1ceed);
}

div.modal-footer {
    background-color: #f1e5c1;
}

div.modal-body {
    background-color: #f7f7f7;
}

textarea.form-control.req {
    border: 1px solid blue;
}

input.form-control {
    border: 1px solid blue;
}

div.input-group-text.change_cls {
    background: green !important;
}

i.fa.fa-plus {
    color: #fff;
}

button.btn.btn-success.btn-sm {
    background-color: #174d00;
}
div.input-group-text.change_cls.bgcolor {
    background: #a50505 !important;
}
.labal{
    font-weight:bold;
}
.btnn {
    background: transparent;
    color: black;
    font-weight: bolder;
}
div.navbar-custom-menu {
    background: linear-gradient(152deg, #450460, #ff8a65);
}

div.brand {
    background: #450460 !important;
}

footer.footer.text-center.text-sm-start {
    color: #fff;
    background-color: #455a64;
}

h4.card-title {
    text-align: center;
    font-size: 1rem;
    color: #000000;
    text-transform: uppercase;
    font-family: -webkit-body;
    font-weight: bolder;
}

div.card-header {
    background-color: #00bcd4 !important;
    color: #fafafa;
    border: 1px solid #00bcd4;
}

div.card-body {
    background-color: #ffecb3;
    color: #fafafa;
    border: 1px solid #ffecb3;
}

#Label1 {
    color: #fff;
}

li a span {
    color: #fff;
}

div.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* background-color: #00bcd4; */
}

ul.list-unstyled.topbar-nav.float-end.mb-0 {
    background-color: #ff8a65;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem;
}

input.form-control {
    border: 1px solid #ced4da !important;
}

.poll {
    background-color: #4CAF00;
    color: #fff;
    border-radius: 15rem;
    font-weight: bolder;
    padding: 7px;
    display: inline-block;
    font-size: 1rem;
}

div.page-content-tab {
    background: aliceblue;
    border: 1px solid #c8e6ff;
}

div div p {
    margin-bottom: 0;
    font-size: 1rem
}
.badge-secondary {
    border-color: #178d64 !important;
    background: #178d64 !important;
    font-size: 16px;
}
.btnM {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.card.p-3 {
    border: 4px solid #795548 !important;
}

div.card-header {
    /*margin-bottom: 8px;*/
}

.Poll-Results {
    background-color: #E6EE9C !important;
    color: #fafafa;
    border: 1px solid#E6EE9C;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    margin-bottom: 6px;
}
 div.comment.p-3 {
    border: 2px solid #607d8b !important;
    margin-bottom: 4px;
    border-radius: 4px;
}

.poll-header {
    text-align: center;
    font-size: 1rem;
    background: #00bcd4;
    border: 1px solid #00bcd4;
    border-radius: 4px;
    color: black;
    padding-top: 0px !important;
    margin-bottom: 4px;
}

.comment {
    padding-top: 5px;
}

div.col-sm-12.p-3 {
    background-color: #EFDDDE;
    border: 1px solid #EFDDDE;
    border-radius: 5px;
    margin-bottom: 5px;
}
.badge-danger {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background: red;
}
select.adult {
    margin-bottom: 8px;
    margin-right: 5px;
}

div.card-header {
    margin-top: 8px;
}

div.youvote {
    background: lightblue;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
}

.pollresult {
    background: #fff;
    padding: 8px;
    padding-top: 4px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-bottom: 6px;
}

table.table.table-striped {
    margin-bottom: 0;
}
.navbar-custom {
    background: linear-gradient(152deg, #450460, #ff8a65);
}
.table td {
    padding: 6px 10px !important;
}